.enterValue {
    max-width: 500px;
    padding: 30px;
    border: 4px solid rgb(110, 228, 255);
    border-radius: 10px;
    margin-bottom: 30px;
}

.enterValueInputs {
    border-radius: 10px;
    background: rgb(110, 228, 255);
    padding: 35px 30px;
    margin-bottom: 20px;
}

.enterValueButton {
    padding: 35px 0 35px 0 ;
    border: 4px solid rgb(110, 228, 255);
    border-radius: 10px;
    text-align: center;
}